@model ProjectTechStack
@{
    ViewData["Title"] = "Yeni Proje Teknoloji Yığını Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <label>Proje</label>
    <select  class="form-control" asp-for="ProjectId" asp-items="@ViewBag.projects" required>
       <option selected> ------Projeyi Seçiniz-------</option>
    </select>
    <br />

    <label>Teknoloji</label>
    <select class="form-control" asp-for="TechStackId" asp-items="@ViewBag.techStacks" required>
        <option selected> ------Teknolojiyi Seçiniz-------</option>
    </select>
   
    <br />

    <button class="btn btn-outline-dark">Kaydet</button>
</form>
