@model List<string>
@if (Model.Any())
{
    <div class="flex flex-wrap gap-2">
        @foreach (var skill in Model)
        {
            <span class="px-4 py-2 bg-surface-variant rounded-full font-label-sm text-label-sm text-on-surface">@skill</span>
        }
    </div>
}