<!DOCTYPE html>

<html class="light" lang="tr">
@await Component.InvokeAsync("_AdminLayoutHead")
<body class="font-body-md text-body-md">
    <!-- SideNavBar -->
    @await Component.InvokeAsync("_AdminLayoutSidebar")
    <!-- TopNavBar -->
    @await Component.InvokeAsync("_AdminLayoutNavbar")
    <!-- Main Content Area -->
    <main class="ml-[260px] pt-16 min-h-screen p-lg">
        @RenderBody()
    </main>
    @await Component.InvokeAsync("_AdminLayoutScript")
   
</body>
</html>